language: julia
os:
  - osx
  - linux
julia:
  - 0.4
  - 0.5
  - nightly
notifications:
  email: false
after_success:
 - julia -e 'cd(Pkg.dir("Example")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';
