language: julia
sudo: required
dist: trusty
notifications:
  email: false

addons_shortcuts:
  addons_llvm39linux: &llvm39linux
    apt:
      # https://github.com/travis-ci/apt-source-whitelist/issues/300
      sources: [ubuntu-toolchain-r-test, llvm-toolchain-precise-3.9]
      packages: [llvm-3.9]
  addons_llvm40linux: &llvm40linux
    apt:
      # https://github.com/travis-ci/apt-package-whitelist/issues/3296
      # https://github.com/travis-ci/apt-package-whitelist/pull/3297
      sources: [ubuntu-toolchain-r-test, llvm-toolchain-precise]
      packages: [llvm-4.0]

# NOTE: Travis does not allow applying a global (eg. julia/os array) to a matrix,
#       so construct it manually
matrix:
  include:
    # LLVM 3.9 on Linux
    - os: linux
      env:
        - LLVM_VERSION=3.9
        - LLVM_EXTRA_BUILD=1
      julia: 0.5
      # addons: *llvm39linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-3.9 -y
    - os: linux
      env:
        - LLVM_VERSION=3.9
        - LLVM_EXTRA_BUILD=1
      julia: nightly
      # addons: *llvm39linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-3.9 -y
    # LLVM 3.9 on Linux, DEBUG mode
    - os: linux
      env:
        - LLVM_VERSION=3.9
        - DEBUG=1
        - LLVM_EXTRA_BUILD=1
      julia: 0.5
      # addons: *llvm39linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-3.9 -y
    - os: linux
      env:
        - LLVM_VERSION=3.9
        - DEBUG=1
        - LLVM_EXTRA_BUILD=1
      julia: nightly
      # addons: *llvm39linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty-3.9 main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-3.9 -y
    # LLVM 4.0 on Linux
    - os: linux
      env:
        - LLVM_VERSION=4.0
        - LLVM_EXTRA_BUILD=1
      julia: 0.5
      # addons: *llvm40linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-4.0 -y
    - os: linux
      env:
        - LLVM_VERSION=4.0
        - LLVM_EXTRA_BUILD=1
      julia: nightly
      # addons: *llvm40linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-4.0 -y
    # LLVM 4.0 on Linux, DEBUG mode
    - os: linux
      env:
        - LLVM_VERSION=4.0
        - DEBUG=1
        - LLVM_EXTRA_BUILD=1
      julia: 0.5
      # addons: *llvm40linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-4.0 -y
    - os: linux
      env:
        - LLVM_VERSION=4.0
        - DEBUG=1
        - LLVM_EXTRA_BUILD=1
      julia: nightly
      # addons: *llvm40linux
      before_install:
      - wget -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
      - sudo add-apt-repository 'deb http://apt.llvm.org/trusty/ llvm-toolchain-trusty main' -y
      - sudo apt-get update -q
      - sudo apt-get remove llvm -y
      - sudo apt-get install llvm-4.0 -y
    # # LLVM 3.9 on macOS
    # - os: osx
    #   env: LLVM_VERSION=3.9
    #   julia: 0.5
    #   before_install:
    #   - wget http://llvm.org/releases/3.9.0/clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - tar -xvf clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - export PATH=$PATH:$PWD/clang+llvm-3.9.0-x86_64-apple-darwin/bin/
    # - os: osx
    #   env: LLVM_VERSION=3.9
    #   julia: nightly
    #   before_install:
    #   - wget http://llvm.org/releases/3.9.0/clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - tar -xvf clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - export PATH=$PATH:$PWD/clang+llvm-3.9.0-x86_64-apple-darwin/bin/
    # # LLVM 3.9 on macOS, DEBUG mode
    # - os: osx
    #   env:
    #     - LLVM_VERSION=3.9
    #     - DEBUG=1
    #   julia: 0.5
    #   before_install:
    #   - wget http://llvm.org/releases/3.9.0/clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - tar -xvf clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - export PATH=$PATH:$PWD/clang+llvm-3.9.0-x86_64-apple-darwin/bin/
    # - os: osx
    #   env:
    #     - LLVM_VERSION=3.9
    #     - DEBUG=1
    #   julia: nightly
    #   before_install:
    #   - wget http://llvm.org/releases/3.9.0/clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - tar -xvf clang+llvm-3.9.0-x86_64-apple-darwin.tar.xz
    #   - export PATH=$PATH:$PWD/clang+llvm-3.9.0-x86_64-apple-darwin/bin/

after_success:
 - julia -e 'cd(Pkg.dir("LLVM")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())';

before_deploy:
  - export PKGDIR=$(julia -e 'println(Pkg.dir("LLVM"))')
deploy:
    provider: releases
    api_key:
        secure: jsbhiVs6Nthgd0pvxK4/t/58l+eBUQapsIT/XIBpooKVhBUdlsZGothhPc+8Uv8kkAwvgm1Q5FJsvZzXnUHErW7jFLSXAclmiEtalio3TdOePlP3BEn5tmnsjlI3xNUpuJokCQdH7OPNrL+LrROK5Gs4z1s1yV0olaTVBRutXjszy/ckUIEtERMr8zcdYUg03ZsRDNaU3WZed/BH3pNbZBdjetAosrS4uZfwvBVWcmP/mdmgFcoYBQ7W5CXbhf6LOVl6KCkdAxd5jm/CR5d12u3piY2q/UzktJDmTfY25vyCoZAMbdekzUu1xdNvW8ITvVdXqWhgtl2k+VRHOUMbZdHtF6u50bckAuPN/SzdME8iQ+lMP/aEh+11ai+GH9Oa2gc0kzLU10/XbgYtTrpGh8HDkJDeN6iPUDPz7js+VNDpVhscWznPFYyOCzsbnRPECCinUXeB2j6IHL/bLv/fZaq4EWsATl/Jhd/vgVMvYJeU/sIONRTtSEMiX5dfFbDTY1yJSbae80FLd7wB4D2g3ymqHPF1uM3e581FRSWY/7iNvdejR4+/4CPsIT7JOyUti1bRJrvY35wueNpteY18A5oQa1I8hIoqC1mhkVRZ4WsTTLHlZXjRDMlThTr528RqS2FzFZVcnN5IxpAGq0GtnuxiNm5hbEhhnsv9Jc9w8F4=
    skip_cleanup: true
    overwrite: true
    file_glob: true
    file: ${PKGDIR}/deps/llvm-extra/libLLVM_extra*
    on:
        tags: true
        condition: $LLVM_EXTRA_BUILD = 1
